:root {
  --primary-text-colot: rgba(33, 33, 33, 1);
  --title-text-color: rgba(117, 117, 117, 1);
  --background-color: #E5E5E5;
  --accent-color: rgba(33, 150, 243, 1);
}

/* вторичный цвет фона #F5F4FA*/
/* цвет подвала #2F303A */

body {
  background-color: #E5E5E5;
}

.list {
  list-style: none;
}

/* site-nav */
.site-nav li {
  color: rgba(33, 33, 33, 1)
}

.site-nav li:hover,
.site-nav li:focus {
  color: rgba(33, 150, 243, 1);
}