:root {
  --primary-text-colot: rgba(33, 33, 33, 1);
  --title-text-color: rgb(117, 117, 117);
  --primary-white-color: #FFFFFF;
  --accent-color: rgba(33, 150, 243, 1);

}

/* вторичный цвет фона #F5F4FA*/
/* цвет подвала #2F303A */

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-colot);


  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}


/* улитита */
.list {
  list-style: none;
}


/* Шапка */

/* Logo */
.logo {
  color: var(--accent-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-studio {
  color: black;
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-colot);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* auth-nav */
.auth-nav .link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}


/* Стили для htkl */

/* Hero */
.section-hero {
  background-color: rgba(47, 48, 58, 1);
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Кнопка */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
}

/* описание работы */
.section-title {
  font-weight: 700;
  line-height: 1.14;

}

.section-text {
  color: var(--title-text-color);
}

/* заголовки */
.section-heading {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

/* наша команда */
.section-command {
  background-color: rgba(245, 244, 250, 1);
}

/* карточки команды */
.section-card {
  background-color: var(--primary-white-color);
}

/* имена коллег */
.section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* работа коллег */
.section-work {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}


/* Стили для пордфолио */

/* Фильтки / Кнопки */
.portfolio-button {
  color: var(--primary-text-colot);
  background-color: var(--background-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* список продукции */
.section-production {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-more {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

/* футер */
.footer {
  background-color: rgba(47, 48, 58, 1);
}

.logo-footer {
  color: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
}